/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}

/* LAYOUT */
#channels {
    position: absolute;
    height: 100%;
    width: 40%;
}
#chat {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%
}

/* APP BAR */

/* #4 #sweat address both #app-bar s */
h1 {
    background-color: #9C27B0;
    color: white;
    height: 64px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 20;
}
h1 a{
    color: white;
}
#active-star{
    position: absolute;
    right: 16px;
}
#moocus {
    height: 56px;
    position: absolute;
    top: 8px;
    left: 24px;
}

#channels h1 {
    padding: 20px 24px 20px 80px;
}
#chat h1 {
    padding: 20px 24px;
}

/* CHANNELS LIST */

/* #4 #sweat #channels */
ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
    position: absolute;
    top: 64px;
    bottom: 72px;
    width: 100%;
    overflow: auto;
}

li {
    /* #4 #channel #tile geometry */
    height: 48px;
    line-height: 48px;
    padding: 0px 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #9C27B0;
    border-left: 4px solid #9C27B0;
    padding-left: 15px;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
}
.channel-meta {
    position: absolute;
    right:16px;
}

/* TAB BAR and CHAT BAR */

/* #4 #sweat #tab-bar */
#tab-bar, #chat-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 72px;
    justify-content: space-between;
}

/* #4 add styles to #tab-bar #buttons */
#tab-bar button, #emojis-button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button.selected {
    color: #9C27B0;
    border-bottom: 4px solid #9C27B0;
}
#emojis-button {
    align-self: flex-start;
    width:auto;
}
#emojis {
    background-color: white;
    border: 1px black solid;
    height: 150px;
    width: 150px;
    padding: 16px;
    position: absolute;
    bottom: 52px;
    left: 2.5%;
    overflow:auto;
    font-size: 24px;
    text-align: left;
    display:none;
}

/* MESSAGES */
/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */
#message-area {
    position: absolute;
    top: 64px;
    bottom: 72px;
    width: 100%;
    overflow: auto;
}

.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
}


.message h3 {
    font-size: medium;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
}

.message p {
    background-color: white;
    padding: 16px;
    position: relative;
}

.message p button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

